[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/wuliupo/getbootstrap.git
[submodule "structure"]
	path = structure
	url = https://github.com/wuliupo/structure.git
[submodule "game"]
	path = game
	url = https://github.com/wuliupo/game.git
[submodule "tool"]
	path = tool
	url = https://github.com/wuliupo/tool.git
[submodule "bootstrap1"]
	path = bootstrap1
	url = https://github.com/wuliupo/bootstrap1
[submodule "bootstrap2"]
	path = bootstrap2
	url = https://github.com/wuliupo/bootstrap2
